footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: gray;
}

.column{
    
}

.row{
    border: 1px solid black;
}



.container{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 560px;
    height: 560px;
    background-color: white;
}

button{
  width: 200px;
  font-size: larger;
  margin-top: 0px;
}
body{
    background-color: bisque;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px;
}